# Ex1 - Know your data

we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [63]:
import pandas as pd

In [64]:
# checkout pandas version
print(pd.__version__)

1.4.2

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [65]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [66]:
# read from tsv file (it's similar to csv with tab as a seperator)
"""
Parser engine to use. The C and pyarrow engines are faster, 
while the python engine is currently more feature-complete. 
Multithreading is currently only supported by the pyarrow engine.

"""
chipo = pd.read_csv(url, sep ='\t')

# chipo = pd.read_csv(url, delimiter = "\t")

### Step 4. See the first 10 entries

chipo.head(10)

### Step 4a: see the last 10 entries

In [67]:
chipo.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4b: see the random 10 entries

In [68]:
chipo.sample(10)

,order_id,quantity,item_name,choice_description,item_price
2396,952,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
3605,1444,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$11.25
939,387,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Fajita Veget...",$8.75
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
1113,460,1,Chips and Guacamole,NaN,$4.45
4209,1679,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2210,891,1,Chips,NaN,$2.15
2106,848,2,Chicken Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$17.50
4377,1746,1,Canned Soft Drink,[Sprite],$1.25
267,116,1,Chips and Fresh Tomato Salsa,NaN,$2.95

### Step 5. What is the number of observations in the dataset?

In [69]:
# Solution 1
print(f"No of observaation in the dataset is: {chipo.shape[0]}")

No of observaation in the dataset is: 4622

In [70]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [71]:
print(f"No of column in the dataset is: {chipo.shape[1]}")

No of column in the dataset is: 5

In [72]:
print(f"No of column in the dataset is: {len(chipo.columns)}")

No of column in the dataset is: 5

### Step 7. Print the name of all the columns.

In [73]:
col = chipo.columns

for c in col:
    print(c)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [74]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [75]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [76]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [77]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [78]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [79]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [80]:
chipo['item_price'] = chipo.item_price.apply(lambda x: float(x[1:-1]))

#### Step 13.c. Check the item price type

In [81]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [82]:
(chipo['quantity'] * chipo['item_price']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [83]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [84]:
# Solution 1
chipo['revenue'] = (chipo['quantity'] * chipo['item_price'])

In [85]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [86]:
chipo['item_name'].value_counts().count()

50