# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [7]:
series_1 = pd.Series(np.random.randint(1, 4, size=100))

series_1

0     1
1     1
2     2
3     2
4     3
     ..
95    1
96    3
97    2
98    3
99    3
Length: 100, dtype: int32

In [9]:
series_2 = pd.Series(np.random.randint(1, 3, size=100))

series_2

0     2
1     1
2     2
3     2
4     1
     ..
95    1
96    1
97    1
98    2
99    2
Length: 100, dtype: int32

In [10]:
series_3 = pd.Series(np.random.randint(10000, 30000, size=100))

series_3

0     27109
1     11433
2     26493
3     24957
4     22916
      ...
95    20731
96    17356
97    16713
98    29710
99    24172
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [11]:
df = pd.concat([series_1, series_2, series_3], axis=1)

df.head()

   0  1      2
0  1  2  27109
1  1  1  11433
2  2  2  26493
3  2  2  24957
4  3  1  22916

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [12]:
df.columns=["bedrs", "bathrs", "price_sqr_meter"]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [14]:
bigcolumn = pd.concat([series_1, series_2, series_3], axis=0)

bigcolumn = bigcolumn.to_frame()

In [16]:
bigcolumn

        0
0       1
1       1
2       2
3       2
4       3
..    ...
95  20731
96  17356
97  16713
98  29710
99  24172

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [17]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [18]:
bigcolumn.reset_index(inplace=True, drop=True)

In [19]:
bigcolumn

         0
0        1
1        1
2        2
3        2
4        3
..     ...
295  20731
296  17356
297  16713
298  29710
299  24172

[300 rows x 1 columns]